<template>
  <div>
    <v-toolbar>
      <v-btn icon class="hidden-xs-only" @click="drawer = !drawer">
        <v-icon>menu</v-icon>
      </v-btn>
      <v-toolbar-title>Productos</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-navigation-drawer app v-model="drawer">
      <v-toolbar flat>
        <v-layout row>
          <v-flex xs6>
            <v-toolbar-title class="title mt-4">Productos</v-toolbar-title>
          </v-flex>
          <v-flex xs6>
            <v-text-field label="Buscar" class="pt-3" prepend-inner-icon="search"></v-text-field>
          </v-flex>
        </v-layout>
      </v-toolbar>
      <v-divider></v-divider>
      <v-layout column align-center>
        <v-flex>
          <v-select :items="categories" label="Categorias"></v-select>
        </v-flex>
      </v-layout>
      
        <v-list-tile v-for="item in items" :key="item.key" class="mb-5">
          <img width="25%" src="https://picsum.photos/100/100/?random">
          <v-list-tile-content class="ml-2">
            <v-list-tile-title>{{ item.nombre }}</v-list-tile-title>
            <v-list-tile-title>${{ item.pivot.costo_actual}}</v-list-tile-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <v-icon v-if="(false)" color="red">favorite</v-icon>
            <v-icon v-else>favorite</v-icon>
          </v-list-tile-action>
          <v-list-tile-action>
            <v-btn v-on:click="addProduct(item)" flat icon color="blue lighten-2">
              <v-icon>add_shopping_cart</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
    </v-navigation-drawer>
   
  </div>
</template>

<script>
/* eslint-disable */
import { async } from "q";
import axios from "axios";

import ProductCard from "./ProductCard.vue";
export default {
  components: {
    ProductCard
  },
  data: () => ({
    item:{nombre: "Producto",
        fecha: "2019-01-01",
        precio: 20.1,
        favorito: true},
    drawer: null,
    categories: [],
    items: [],
    info: ""
  }),
  methods: {
    async fetchCategories() {
      try {
        const response = await axios.get(
          "http://pos.apdevs.com/api/categorias"
        );
        response.data.map(v => {
          this.categories.push(v.nombre);
        });
      } catch (error) {}
    },
    addProduct: function (newItem) {
      this.$eventBus.$emit('send-data', newItem);
    }
  },
  mounted() {
    this.fetchCategories();
  },
  created() {
    axios.get(`http://pos.apdevs.com/api/locales/2/productos`)
    .then(response => {
      // JSON responses are automatically parsed.
      this.items = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })}

};
/* eslint-disable */
</script>
