<template>
  <v-container>
    <v-card>
      <v-layout row>
        <v-flex xs5>
          <v-img height="250px" src="https://picsum.photos/600/300/?random"></v-img>
        </v-flex>
        <v-flex xs6 ml-5 mt-2>
          <v-layout column justify-space-between fill-height>
            <v-layout column>
              <h2>Titulo</h2>
              <h4 class="mt-3">Semi titulo</h4>
            </v-layout>
            <v-layout column align-content-end>
              <h4>Precio: 30 euros</h4>
              <v-btn flat color="primary" dark>
                <v-icon>list</v-icon>
              </v-btn>
              <v-btn flat small color="primary">text</v-btn>
              <h4>jajaja</h4>
            </v-layout>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data: () => {
    // product: [
    //   {
    //     name: "ajajja",
    //     description: "ajajja"
    //   }
    // ];
  }
};
</script>
