<template>
  <v-layout>
    <v-flex xs12 sm6 >
      <v-card>
        <v-flex xs4>
           {{Nombre}} 
        </v-flex>
            {{Precio}}

        <v-flex xs4>
        </v-flex>

        <v-flex xs4>
        <v-card-actions>
          <v-btn flat color="orange"> - </v-btn>
          <span>{{Cantidad}}</span>
          <v-btn flat color="orange"> + </v-btn>
        </v-card-actions>
        </v-flex>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
    name: 'Product Data',
    propr {
        Nombre: String,
        Precio: String,
        Cantidad: String
    }
}
</script>