<template>
  <v-container>
    <v-layout row>
      <v-flex xl12 xs12 md12 lg12>
        <v-tabs v-model="active" color="cyan" dark slider-color="yellow">
          <v-tab v-for="n in 5" :key="n" ripple>Mesa {{ n }}</v-tab>
          <v-tab-item v-for="n in 5" :key="n">
            <v-card>
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-3">Venta de la mesa {{n}}</h3>
                </div>
              </v-card-title>
              <v-card-text>
                <v-container v-for="item in cart" :key="item.key" class="mb-1">
                <v-flex xs8 offset-xs2>
                  <v-layout  align-center justify-space-between row >
                    <img width="50px" src="https://picsum.photos/100/100/?random">
                    
                      <h3>{{ item.nombre }}</h3>
                      <h4>${{ item.pivot.costo_actual}}</h4>
                      <v-btn v-on:click="reduceQuantity(item)" flat icon color="grey lighten-2">
                        <v-icon>remove_circle_outline</v-icon>
                      </v-btn>
                       <h4>cantidad: {{ item.cantidadM}}</h4>
                      <v-btn v-on:click="addQuantity(item)" flat icon color="grey lighten-2">
                        <v-icon>add_circle_outline</v-icon>
                      </v-btn>
                      <v-btn v-on:click="deleteProduct(item)" flat icon color="red lighten-2">
                        <v-icon>remove_shopping_cart</v-icon>
                      </v-btn>
                  </v-layout>
                </v-flex>
                </v-container> 
              </v-card-text>
              <v-spacer horizontal></v-spacer>
              <v-divider></v-divider>
              <v-card-actions>
                <v-layout column>
                  <h2>Monto:</h2>
                  <h2>Descuento Extra:</h2>
                </v-layout>
                <v-btn color="red">Cancelar</v-btn>
                <v-btn color="green">Finalizar</v-btn>
                <v-spacer></v-spacer>
                <h1 color="green">Total $34.32</h1>
              </v-card-actions>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    cart: [],
  }),
  created() {
    this.$eventBus.$on('send-data', (data) => {
      var index = this.cart.indexOf(data);
      if(index<=-1){
      data.cantidadM=1;
      this.cart.push(data);
      }
    });
  },
  methods:{
    deleteProduct: function (itemD){
     var index = this.cart.indexOf(itemD); 
     if(index >-1){
       this.cart.splice(index, 1);
     }
    },
    addQuantity: function (itemD){
     var index = this.cart.indexOf(itemD); 
     if(index >-1){
       this.cart[index].cantidadM++;
       this.$forceUpdate();

     }
    },
    reduceQuantity: function (itemD){
     var index = this.cart.indexOf(itemD); 
     if(index >-1){
       this.cart[index].cantidadM--;
       if(this.cart[index].cantidadM<1){
         this.cart[index].cantidadM=1;
       }
       this.$forceUpdate();
     }
    }

  }

};
</script>
