<template>
<div>
  <ul v-if="posts && posts.length">
    <li v-for="post in posts" :key="post.id">
      <p><strong>{{post.id}}</strong></p>
      <p>{{post.nombre}}</p>
       <p>{{post.descripcion}}</p>
    </li>
  </ul>
</div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return { 
      posts: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    axios.get(`http://pos.apdevs.com/api/productos`)
    .then(response => {
      // JSON responses are automatically parsed.
      this.posts = response.data
      console.log(this.posts);
      
    })
    .catch(e => {
      this.errors.push(e)
    })

    

    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
    //   this.posts = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }
  
}
</script>