<template>
  <div class="home">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <v-row>
      <navigation-drawer></navigation-drawer>
      <products-card></products-card>
    </v-row>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";

import ProductsCard from "@/components/Index/ProductsCard/ProductsCard.vue";
import NavigationDrawer from "@/components/Index/NavigationDrawer/NavigationDrawer";

export default {
  name: "home",
  components: {
    ProductsCard,
    NavigationDrawer
  }
};
</script>
