<template>
  <v-app>
    <v-content>
      <navigation-drawer></navigation-drawer>
      <products-card></products-card>
    </v-content>
  </v-app>
</template>

<script>
import ProductsCard from "@/components/Index/ProductsCard/ProductsCard.vue";
import NavigationDrawer from "@/components/Index/NavigationDrawer/NavigationDrawer";

export default {
  name: "home",
  components: {
    ProductsCard,
    NavigationDrawer
  }
};
</script>
